$font-family-sans-serif: Poppins,
sans-serif;
$headings-font-family: Playfair Display,
serif;
$headings-font-weight: 700;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.125;
$h2-font-size: $font-size-base * 2.375;
$h3-font-size: $font-size-base * 2;
$h4font-size: $font-size-base * 1.375;
$h5font-size: $font-size-base * 1.75;
$h6font-size: $font-size-base * 1.125;